.App {
	text-align: center;
	max-height: 100vh;
	max-width: 100vw;
	overflow: wrap;
}

.App-logo {
	height: 20vh;
	pointer-events: none;
	padding: 2rem;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
	background-image: url("./img/ebbing.webp"),
		linear-gradient(to right, #5b5473 18%, #736754 77%);
	background-blend-mode: screen, multiply;
	/* background-color: #5b5473; */
	min-height: 22vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.name {
	background: linear-gradient(to right, #736754 13%, #5b5473 84%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 1rem;
	-webkit-text-stroke: 1px black;
	text-decoration: underline;
}

.Links-title {
	height: 10vh;
	background-color: #736754;
	background-image: url("./img/links.webp");
	background-blend-mode: normal;
	background-size: contain;
	color: #131313;
	letter-spacing: 0.15em;
	text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474,
		-3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d,
		-6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89,
		-9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897,
		-12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6,
		-15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5,
		-18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4,
		-21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1,
		-24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc,
		-27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
}

.Links {
}

.OpenSea {
	height: 17vh;
	flex-grow: 1;
	background-color: #1868b7;
	background-image: url("./img/opensea.webp");
	background-blend-mode: normal;
	background-size: contain;
}

.OpenSea:hover {
	background-blend-mode: overlay;
}

.Rarible {
	height: 17vh;
	background-color: #b703fe;
	background-image: url("./img/rarible.webp");
	background-blend-mode: normal;
	background-size: contain;
}

.Rarible:hover {
	background-blend-mode: overlay;
}

.Twitter {
	height: 17vh;
	background-color: #1da1f2;
	background-image: url("./img/twitter.webp");
	background-blend-mode: normal;
	background-size: contain;
}

.Twitter:hover {
	background-blend-mode: overlay;
}

.Instagram {
	height: 17vh;
	background-color: #ffdc80;
	background-image: url("./img/instagram.webp");
	background-blend-mode: normal;
	background-size: contain;
}

.Instagram:hover {
	background-blend-mode: screen;
}

/* 
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */
